name: todone
description: "  A simple and intuitive To-Do app designed to help you organize your daily tasks with ease.
  Add, edit, and complete tasks effortlessly while keeping your day structured and productive.
  Lightweight, clean, and built with Flutter for a smooth user experience."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true
  # assets:
  # fonts:

